/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  background-color: #f7f8fd;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
